doctype html
html(lang="en")
	head
		meta(charset="utf-8")
		meta(name="viewpoint", content="width=device-width, initial-scale=1")
		title  Upload File
		link(rel="stylesheet", href="../main.css")

	body
		#wrapper
			header
				h1 Upload a file
		#upload_div
			p  Upload a file here
		button#upload_btn  Upload
