#wrapper{
  margin: 0;
  /*max-width: 1020px;*/
  width: 99%;
  border: 1px solid #8D177B;
  border-radius: 4px;
  box-shadow: 0 0 5px 0 rgba(12, 3, 25, 0.8);
  padding: 5px;
}

/* header/nav */
body > div > header{/* > means directly below. without it, it's eventually below*/
  background-color: #8D177B;
  height: 180px;
  padding: 5px;
}

h1{
  color: white;
}

#upload_div{
  border: 1px solid #000000;
  background-color: #FFFFFF;
}

#upload_btn{
  align: center;
}
